.navbar-emp-dtls{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
}
.navbar-emp-dtls input{
    height: 30px;
    width: 400px;
    background: none;
    border: 1px solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
}
.navbar-emp-dtls input::placeholder{
    color: #000;
    padding: 10px;
}
.navbar-emp-dtls h1{
    color: #000;
    font-size: 30px;
    font-weight: 600;   
}
.employee-details-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-left: 10px;
}

.employee-detail{
    color: white;
    /* background: var(--secondary-color); */
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    text-align: center;
    background: rgba(43, 58, 56, 0.67); 
    backdrop-filter: blur(0px); 
    -webkit-backdrop-filter: blur(10px); 
}
.employee-detail #profileImage{
    font-size: 140px;
}

.profile-actions{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
}
.profile-actions span{
    position: absolute;
    font-size: 25px;
    right: 30px;
    top: 2px;

}
.profile-actions button{
    padding: 8px 20px 8px 40px;
    border-radius: 5px;
    border: none;
    position: relative;
    font-size: 16px;
    text-align: center;
}

.edit-btn button{
    background-color: rgb(255, 225, 0);
    transition: 0.25s;
}

.remove-btn button{
    background-color: red;
    color: white;
}

.add-employee{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-emp{
    display: flex;
    gap: 40px;
}
.add-employee button{
    padding: 10px 18px 10px 44px;
    border: none;
    border-radius: 5px;
    background-color: rgba(220, 231, 222, 0.78);
    /* color: white; */
    transition: 0.3s;
    font-weight: 700;
    /* border: 1px solid #000; */
}
.add-employee span{
    position: relative;
    right: 83px;
    bottom: 0.5px;
    /* color: white;    */
    font-size: 20px;
}
.add-employee button:hover{
    background-color:rgba(201, 204, 202, 0.78); ;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}


.edit-btn button:hover{
    background-color: rgba(234, 207, 0, 1);
    cursor: pointer;
}
.remove-btn button:hover{
    background-color: rgb(238, 0, 0);
    cursor: pointer;
}


.values-emp span{
    color: var(--secondary-color);
}


/* loading */
.loading-animate{
    margin-left: 46%;
}
.loading-animate p{
    position: relative;
    right: 70px;
    color: var(--primary-color);
    margin-top: 20px;
    font-weight: 500;
}


/* Loading title */

.loading-title::after {
  content: '';
  animation: ellipsis 2s steps(4, end) infinite;
  display: inline-block;
  width: 1.4em; /* reserve space for up to 3 dots */
  text-align: left;
}

@keyframes ellipsis {
  0% { content: ''; }
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
  100% { content: ''; }
}
