<header>
    <nav class="navbar-emp-dtls">
        <div>
            <h1 class="loading-title">Employee Details </h1>
        </div>
        <div class="search-emp">
            <input type="search" placeholder="Search Employee ID or Name">
            <div class="add-employee">
                <button (click)="addpage()">New</button>
                <span class="material-symbols-outlined">person_add</span>
            </div>
        </div>
    </nav>
</header>

<div class="loading-animate">
    <div class="loading">
        <app-loading *ngIf="isLoading"></app-loading>
    </div>
    <p class="loginVerify" *ngIf="showData">login and see employee datas...</p>
</div>

<section>
    <div class="employee-details-container">
        <div class="employee-detail" *ngFor="let employee of employees">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <div class="values-emp">
                <h5>Employee ID : <span>{{employee.employeeId}}</span> </h5>
                <h5>Name : <span class="valueEMP">{{employee.name}}</span></h5>
                <h5>Designation : <span class="valueEMP">{{employee.designation}}</span></h5>
                <h5>Salary : <span class="valueEMP">{{employee.salary}}</span></h5>
                <h5>Experience : <span class="valueEMP">{{employee.experience}}</span> </h5>

            </div>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 388px;right: 287px;z-index: 1;">person_edit</span><button (click)="editEmp(employee)">Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 388px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button (click)="confirmDelete(employee.id)">Remove</button>
                </div>
            </div>
        </div>
        <!-- <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div>
        <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div>
        <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div>
        <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div>
        <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div>
        <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div>
        <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div>
        <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div>
        <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div>
        <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div>
        <div class="employee-detail">
            <span class="material-symbols-outlined" id="profileImage">account_circle</span>
            <p>Employee ID</p>
            <p>Name</p>
            <p>Designation</p>
            <p>Experience</p>
            <div class="profile-actions">
                <div class="edit-btn">
                    <span class="material-symbols-outlined"
                    style="color: black;top: 367px;right: 287px;z-index: 1;">person_edit</span><button>Edit</button>
                </div>
                <div class="remove-btn">
                    <span class="material-symbols-outlined"
                    style="top: 370px;z-index: 1;right: 105px;font-size: 23px;">account_circle_off</span><button>Remove</button>
                </div>
            </div>
        </div> -->

    </div>
</section>