<section>
  <h2>Edit and Update Employee</h2>
  <form [formGroup]="formEdit" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>ID</label>
      <input class="form-control" formControlName="id"/>
    </div>

    <div class="form-group">
      <label>EmployeeID</label>
      <input class="form-control" formControlName="employeeId"/>
    </div>

    <div class="form-group">
      <label>Name</label>
      <input class="form-control" formControlName="name"/>
    </div>

    <div class="form-group">
      <label>Designation</label>
      <input class="form-control" formControlName="designation"/>
    </div>

    <div class="form-group">
      <label>Salary</label>
      <input class="form-control" formControlName="salary"/>
    </div>

    <div class="form-group">
      <label>Experience</label>
      <input class="form-control" formControlName="experience"/>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</section>
