<footer>
    <div class="Thankyou">
        <h1>Thank You</h1>
            <div class="Contacts">
                <div>
                    <div class="name">
                            Raja Venkatesan
                    </div>
                </div>
                <div>
                    <div class="ph ">
                        +91 1234567890
                    </div>
                </div>
                <div>
                    <div class="gmail">
                       <h5>Info & rvs-consultancy.in</h5> 
                    </div>
                </div>
            </div>
            <div class="website">
                    <P></P>
            </div>
    </div>
</footer>

